.wrapper{
    @apply h-screen w-full  overflow-hidden
}
.header {
    height: 7.5%;
    @apply flex items-center bg-yellow-500 space-x-2 p-4 sticky top-0 shadow-md
}

.headerLeft {
    @apply flex items-center space-x-2 w-1/2
}

.headerRight {
    @apply flex flex-col items-end self-center w-1/2 
}
.rightItems {
    @apply flex space-x-2
}

.chatBody{
    height: 80%;
    @apply bg-gray-300 w-full pl-4 pr-4 pt-2 
}

.chatList {
    @apply overflow-auto h-full w-full space-y-4 md:flex flex-col items-center
}
.chatList::-webkit-scrollbar {
    width: 0px;
}

.chatList::-webkit-scrolbar-track {
    -webkit-box-shadow: none;
}

.chatList::-webkit-scrollbar-thumb {
    background: white;
    -webkit-box-shadow: none;
}

.chatList::-webkit-scrollbar-thumb:window-inactive {
    background: white;
}

.inputSection {
    height:12.5%;
    @apply flex pl-4 pr-4 justify-center max-h-24 bg-gray-200
}


.input {
    @apply relative flex h-full w-full max-w-3xl space-x-3 items-center 
}

.sendBtn {
    filter: invert(20%) sepia(13%) saturate(4388%) hue-rotate(338deg) brightness(101%) contrast(97%);
    @apply w-8 h-8 flex items-center justify-center
}
